.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 256px;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
 }
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 88px; /* Height of navbar */
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
#admin {
margin-top: 5em;
}
#sidebar-ht {
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #sidebar-ht{
        height: auto;
    }
    #admin {
        margin-top: 1em;
    }
    #admin.active {
        margin-top: 5em;
    }
}
/*
 * Navbar
 */
.navbar-brand {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    height: 70px;
}
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

/*
 * Menu
 */
ul.menu {
    margin-left:30px;
    line-height:1.8em;
    font-size:17px;
}
ul.menu li:hover {
    background-color:rgba(0,0,0,0.3);
    color: whitesmoke;
    transition: color 0.4s ease-out 0s;
    transition-duration: 0.3s;
    -o-transition: color 0.4s ease-out 0s;
    -o-transition-duration: 0.3s;
    -moz-transition: color 0.4s ease-out 0s;
    -moz-transition-duration: 0.3s;
    -webkit-transition: color 0.4s ease-out 0s;
    -webkit-transition-duration: 0.3s;
}
/* links */
ul.menu a:link {color:whitesmoke;}
ul.menu a:visited {color:whitesmoke;}
ul.menu a:hover {color:lightgrey;}
ul.menu a:active {
    color:white;
    padding-left: 1px;
    font-size: 18px;
}
ul.menu a:focus {color:lightgrey;}
ul.menu a {
    outline: 0;
    color: whitesmoke;
    display: block;
    text-decoration: none;
    transition: color 0.4s ease-out 0s;
    transition-duration: 0.3s;
    -o-transition: color 0.4s ease-out 0s;
    -o-transition-duration: 0.3s;
    -moz-transition: color 0.4s ease-out 0s;
    -moz-transition-duration: 0.3s;
    -webkit-transition: color 0.4s ease-out 0s;
    -webkit-transition-duration: 0.3s;
}
