body {
    font-size: .875rem;
}
section {
    background-color: #f0f0f0;
}
.section {
    margin-top: 1em;
    margin-bottom: 1em;
}
.mtop {
    margin-top: 5em;
}
.login-wrapper{
    width: 350px;
    margin: 150px auto;
}
.action-wrapper{
    width: 350px;
    margin: 0 auto;
}
.page-header h2{
    margin-top: 0;
    text-decoration: underline;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
.back-to-top {
    z-index: 100;
    display: none;
    text-decoration: none;
    color: lightgrey;
    background-color: transparent;
}
.back-to-top i {
    font-size: 20px;
}
.back-to-top:hover {
    color: darkgrey;
}
.toggle-nav {
    z-index: 100;
    text-decoration: none;
    color: lightgrey;
    background-color: transparent;
}
.toggle-nav i {
    font-size: 20px;
}
.toggle-nav:hover {
    color: darkgrey;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: black;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: slategrey;
}
.pagination li.active a, .pagination li.active a.page-link {
    background: #0275d8;
}
.pagination li.active a:hover {
    background: deepskyblue;
}
.pagination li.disabled i {
    color: darkgrey;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    font-size: 14px;
}
#menu-item {
    position: relative;
    max-width: 256px;
    height: 272px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#upload-item {
    height: 150px;
    width: 256px;
}
#no-space{
    width: 142px;
}
#glyphs{
    margin-right: 10px;
}
#glyphs-right{
    margin-right: 10px;
    float: right;
}
#fixed-actions{
    width: 130px;
}
#fixed-quantity{
    width: 15%;
}
#fixed-time{
    width: 20%;
}
#fixed-id{
    width: 80px;
}
#order-data{
    padding: 12px 0;
    margin-top: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: coral;
    border: solid lightgrey 1px;
}
#total{
    text-align: right;
    color: red;
    text-decoration: overline;
}
#bottom {
    position: absolute;
    border-top: solid lightgrey 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: whitesmoke;
    bottom: 0;
}
#product {
    width: 255px;
}
#avatar {
    height: 20px;
    width: 20px;
}
#bg{
    background-image: url("/views/images/bg/whitewall1.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}