#tabs{
    padding-top: 28px;
    background-color: white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: transparent !important;
    border-right-color: blue !important;
    border-left-color: blue !important;
    border-top-color: blue !important;
    background-color: #f0f0f0 !important;
    color: red !important;
    text-decoration: underline !important;
}
